body {
  margin: auto;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: black;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccdbaaf7bb352c17aaf967cf09c1285c&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
  /* background: linear-gradient(to right, rgb(253, 249, 244), rgb(236, 219, 188)); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

a:hover {
  text-decoration: none;
}


/* Styles for Header*/

.jumbotronImg {
  background-image: url("./img/headerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.navbar-header a {
  color: #993536;
  background-color: transparent;
  font-weight: 500;
}

.navBarLinks li a {
  color: #993536;
  font-weight: 500;
}

.headerTitle {
  background-color: white;
  padding: 10px;
  opacity: .75;
}

.mainHead {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

.subHead {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}



/*



/*Styles for Search */

.searchBar {
  justify-content: center;
}

.form-inline .form-control {
  width: 25rem;
}

ul {
  list-style-type: none;
}

/* Wine Pairings Page */

.searchBox {
  justify-content: center;
}

.searchButton {
  margin: 5px;
}

.wpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;


}

.winePairings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.winePairings li {
  margin: 10px;
}

/* Image Styling */

img {
  max-width: 100%;
  height: auto;
}
.wpPairingImg {
 box-shadow: 1px 2px 0px 0px hsl(210, 2%, 75%);
}

.wpPairingImg hover {
  opacity: .8;
}

/* notFound Component  */

.not-found {
  padding: 1em 2em;
  text-align: center;
}


@media (min-width: 768px) {

.headerTitle {
  padding-left: 10rem;
}
}
