body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccdbaaf7bb352c17aaf967cf09c1285c&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
  /* background: linear-gradient(to right, rgb(253, 249, 244), rgb(236, 219, 188)); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2 {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

/* Styles for Header*/
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerTitle {
  padding: 1rem;
}

/*Styles for Search */

.searchBar {
  justify-content: center;
  width: 66.66%;
}

.form-inline .form-control {
  width: 25rem;
}

ul { 
  list-style-type: none;
}

ul .wineList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* notFound Component  */

.not-found {
  padding: 1em 2em;
  text-align: center;
}


@media (min-width: 768px) {

.headerTitle {
  padding-left: 10rem;
}
}